{% extends 'base.html' %}
{% block title %}Home page{% endblock title %}
{% block blogactive %}active{% endblock blogactive %}
{% block body %}
{% if posted %}
<div class="alert alert-light alert-dismissible fade show" role="alert">
  <strong>Blog posted successfully!</strong>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
{% endif %}
 <div class="card my-5">
    <h5 class="card-header">Make a blog:</h5>
    <div class="card-body">
        <form action="" method="POST">
            {% csrf_token %}
            <div class="form-group">
                <label for="username">Your name:</label>
                <input type="text" class="form-control mb-2" name="username" placeholder="Leave blank for 'Annonimus'">
                <label for="blogname">Blog title:</label>
                <input type="text" class="form-control my-2" name="blogname" placeholder="Blog title must be unique." required>
                <label for="content">Blog content:</label>
                <textarea class="form-control" rows="20" name="content" required></textarea>
            </div>
            <button type="submit" class="btn btn-outline-dark">Submit</button>
        </form>
    </div>
</div>
{% endblock body %}